* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.counter {
  width: fit-content;
  background-color: pink;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
body {
  background-color: white;
}
button {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: pink;
  background: black;
  border: 0px;
  width: auto;
}
